<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" />
    <title> Comment va votre Hotel??  </title>
  </head>
  
  <body>
    <div id= "nn">
    <h2> veuillez saisir un commentaire sur l'hotel ici </h2>
    <form action="{{ url_for('recherche') }}" method="POST">
    Votre avis : <input type="input" id="critere" name="critere" size="80px"/>
    <input type="submit" value="Go">
    </div>
    <!-- <button onclick="recherche()"> Va chercher </button> -->

  </form>
  
    
    
 
 
  

    
    


  {%   block res %} 
  <div id="mainn" >
  <ul>
{% if mm is defined and mm is not none %}    
{% for s,b in mm.items() %}
 {% for x in b %} 


    <li> <p style="color:black" ;>   </p> {{x}}      </li>
  
 
    {% endfor %}
{% endfor %}  
</ul>
</div>
{% endif %}


{% endblock %} 












  </body>
  
  
</html>
